#send {
  border: 2px solid white !important;
  background: transparent;
  padding: .5em 2.5em .5em 2.5em;
  font-size: 16px !important;
  width: auto !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  height: auto;
  top: 0;
}

.modal-body {
  /* height:100vh; */
}

#slideOut {
  height: 100vh;
  top: 0;
  z-index: 999999999;
}


/* input[type=checkbox], input[type=radio] {
outline: 5px auto -webkit-focus-ring-color !important;
outline-offset: -2px !important;
opacity: 1 !important;
} */


.blueTab:hover {
  cursor: pointer;
}

/* .blueTab:focus {
box-shadow: 0px 0px 5px 5px rgba(0,0,255,1);

opacity: 1 !important;
} */


.helpBubble:focus {
  box-shadow: 0px 0px 5px 5px rgba(0,0,255,1);
  /* outline: 5px auto -webkit-focus-ring-color !important;
  outline-offset: -2px !important; */
  opacity: 1 !important;
}

.blueTab:visited {
  outline: none !important;
}

.blueTab:active {
  outline: none !important;
}

@media (max-width:767px) {


  #slideOut {
    display: none;
  }

  .modal-content {
    height: auto;
    top: 0;
  }

  #slideOut {
    height: auto;
    top: 0;
  }
}



input[type="radio"].styled:checked + label:after {
  font-family: 'FontAwesome';
  content: "\f111";
}


input[type=radio],
input[type=radio] {
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

input[type=radio][disabled],
input[type=radio][disabled] {
  cursor: not-allowed;
}

input[type=radio][disabled] + label,
input[type=radio][disabled] + label {
  cursor: not-allowed;
}

input[type=radio][disabled] + label:before,
input[type=radio][disabled] + label:before {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

input[type=radio]:focus + label:before,
input[type=radio]:focus + label:before {
  box-shadow: none;
}

input[type=radio]:checked + label:after,
input[type=radio]:checked + label:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

.no-borderradius input[type=radio], .no-borderradius
input[type=radio] {
  background: transparent;
  position: relative;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

input[type=radio] + label,
input[type=radio] + label {
  position: relative;
  cursor: pointer;
  padding-left: 28px;
}

.no-borderradius input[type=radio] + label, .no-borderradius
input[type=radio] + label {
  padding: 0;
}

input[type=radio] + label:before,
input[type=radio] + label:before {
  position: absolute;
  left: 0;
  top: -1px;
  content: '';
  background: none;
  width: 20px;
  height: 20px;
  display: block;
  border-radius: 3px;
  border: none;
  margin-top: 3px;
}

.no-borderradius input[type=radio] + label:before, .no-borderradius
input[type=radio] + label:before {
  display: none;
}

input[type=radio] + label:after,
input[type=radio] + label:after {
  content: '\2713';
  position: absolute;
  font-weight: 900;
  top: -8px;
  left: 4px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  color: #008289;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-size: 85px;
}

.no-borderradius input[type=radio] + label:after, .no-borderradius
input[type=radio] + label:after {
  display: none;
}

/*==========  Radios  ==========*/
input[type=radio] + label:before {
  border-radius: 20px;
}

.fullCircle input[type=radio], input[type=radio] {
  outline: none !important;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0 !important;
}

.radio-inline input[type="radio"], .radio-inline input[type="radio"] {
  position: absolute;
  margin-top: 4px \9;
  margin-left: -20px;
  opacity: 1 !important;
}

.radio-inline input[type="file"]:focus {
  outline: 5px auto -webkit-focus-ring-color !important;
  outline-offset: -2px !important;
  opacity: 1 !important;
}


.radio-inline input[type="radio"]:focus {
  outline: 5px auto -webkit-focus-ring-color !important;
  outline-offset: -2px !important;
  opacity: 1 !important;
}
/* .radio-inline input[type=radio], input[type=radio] {
outline: none !important;
filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);

}


.radio-inline input[type=radio], input[type=radio] {
outline: 5px auto -webkit-focus-ring-color !important;
outline-offset: -2px !important;
opacity: 1 !important;
} */

.modalBackground {
  position: fixed;
  z-index: 9999999999999999999999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: white;
  opacity: .85;
  display: none;
}

.bigClose {
  width: 100%;
  height: 100%;
}


/* #send:focus {

opacity: 1;
box-shadow: 0px 0px 5px 5px rgba(0,0,255,1);
} */

.blueBack.new {
  background: rgb(0, 70, 127);
  width: 101%;
  text-align: center;
  padding: 1.6em 0em;
  border-radius: 5px;
  margin-bottom: -.1em;
  position: relative;
  z-index: 999;
}

p.white.largest {
  color: white;
  text-align: left;
  font-size: 1.6em;
  font-weight: 600;
  padding-left: 2em;
  min-width: 6em;
  margin-top: -.4em;
}

h3.white.largest {
  color: white;
  text-align: left;
  font-size: 1.6em;
  font-weight: 600;
  padding-left: 2em;
  min-width: 6em;
  margin-top: -.2em;
}

@media (max-width:767px) {
  input[type=radio] + label:after, input[type=radio] + label:after {
    content: '\2713';
    position: absolute;
    font-weight: 900;
    top: -26px;
    left: 7px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: #008289;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    font-size: 41px;
  }

  p.white.largest {
    margin-top: -1.2em;
  }
}

.popIn33 .tools {
  top: 240px !important;
}

/* new pulse animate css */

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1.02, 1.02, 1.02) !important;
    transform: scale3d(1.02, 1.02, 1.02) !important;
  }

  50% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) !important;
    transform: scale3d(1.1, 1.1, 1.1) !important;
  }

  to {
    -webkit-transform: scale3d(1, 1, 1) !important;
    transform: scale3d(1, 1, 1) !important;
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1) !important;
    transform: scale3d(1, 1, 1) !important;
  }

  50% {
    -webkit-transform: scale3d(1.04, 1.04, 1.04) !important;
    transform: scale3d(1.04, 1.04, 1.04) !important;
  }

  to {
    -webkit-transform: scale3d(1, 1, 1) !important;
    transform: scale3d(1, 1, 1) !important;
  }
}

.pulse {
  -webkit-animation-name: pulse !important;
  animation-name: pulse !important;
  -webkit-animation-duration: 1s !important;
  animation-duration: 1s !important;
}

.sb-validation-hard {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  font-size: 17px;
}




.sb-validation {
  height: auto;
  position: absolute;
  line-height: 20px;
  max-width: 300px;
  top: 170px;
  left: 50%;
  transform: translateX(-50%);
  padding: 1em 2em;
}
